
h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #22166a;
}
h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #22166a;
}
p,
li {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #22166a;
}
h2, h4{
  display: block;
  margin-bottom: 15px;
}
/* ------------------------------------------------- */
.first-block {
  width: 75%;
  margin: 0 auto;
  gap: 20px;
}
.first-block__left,
.first-block__right {
  flex-direction: column;
  background: #ffecce;
  border-radius: 10px;
  align-items: flex-start;
}
.first-block__left {
  padding: 60px 40px;
}
.first-block__right {
  padding: 50px 25px;
}

.content {
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
}
/* ----------------------------------------- */
.second-block {
  margin: 30px 0;
  flex-direction: column;
}
.second-block h4 {
  text-align: start;
  width: 75%;
  margin: 0 auto;
  display: block;
  margin: 20px 0;
}
.second-block__content {
  width: 75%;
  margin: 0 auto;
  align-items: flex-start;
  gap: 40px;
}
.second-block__content___left {
  width: 95%;
}
.second-block__content___left p {
  margin-bottom: 40px;
}
.button {
  width: 88px;
  background: #251151;
  border-radius: 3px;
  padding: 7px 15px;
}
.button a {
  font-size: 10px;
  color: #ffffff;
  margin-left: 5px;
}
.second-block__content___middle{
  width: 90%;
}
.second-block__content___middle ul li {
  list-style-image: url(/images/svg/service-list.svg);
  padding-inline-start: 1ch;
}

.second-block__content___right {
  background: #f3efff;
  border-radius: 10px;
  padding: 10px;
}

/* ----------------------------------------- */
.third-block {
  background: #e2daff;
  width: 100%;
  padding: 40px 0;
  margin-bottom: 5%;
}
.third-block__content {
  width: 67%;
  margin: 0 auto;
  gap: 30px;
}
.third-block__content h4 {
  text-align: start;
  display: block;
  margin-bottom: 5px;
}
.third-block__content div:last-child p {
  margin-top: 20px;
}
/* ----------------------------------------- */
.fourth-block {
  width: 70%;
  margin: 0 auto;
  align-items: flex-start;
}
.fourth-block h4{
  text-align: left;
}
.fourth-block__content{
  gap: 20px;
}
.fourth-block__left ul,
.fourth-block__right ul {
  margin-top: 15px;
}
.fourth-block__left,
.fourth-block__right {
  width: 49%;
}
.fourth-block__left,
.fourth-block__right {
  border: 2px solid #0e20c4;
  border-radius: 10px;
  padding: 10px 55px;
}
.fourth-block__left ul li {
  list-style-image: url(/images/svg/service-list.svg);
  padding-inline-start: 1ch;
}
.fourth-block__right ul li {
  list-style-image: url(/images/svg/service-list2.svg);
  padding-inline-start: 1ch;
}