<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Q&A</title>
  <link rel="stylesheet" th:href="@{/css/base.css}" />
  <link rel="stylesheet" th:href="@{/css/q.css}" />
</head>
<body>
<div th:insert="block/header :: header"></div>
<section class="purple-block">
  <h4>Ответы на вопросы</h4>
</section>
<div class="qanda">
  <div class="grey-line"></div>
  <div class="question">
    <div class="icon d-flex" onclick="toggleText()">
      <img src="/images/svg/redLine.svg" alt="" />
      <h6>Что такое полис ОМС?</h6>
    </div>
    <div class="hidden-text d-flex" id="text" style="display: none">
      <p>
        Что такое полис ОМС?цифровое решение мед проблем всех граждан кр. к
        сожаленданный портал облегчает гражданам данный портал облегчает
        гражданам Кыргызстана получать мед.услуги со стороны государства
        данный портал облегчает гражданам Кыргызстана получать мед.услуги со
        стороны государстваданный портал облегчает гражданам Кыргызстана
        получать мед.услуги со стороны государства
      </p>
    </div>
  </div>
  <div class="grey-line"></div>
</div>
<br><br><br><br><br>
<div th:insert="block/footer :: footer"></div>
<script th:src="@{/js/text.js}"></script>
</body>
</html>