<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/login"></a>
    <a href="/registration">Sign up</a>
</div>
<h2>Start your journey in Kyrgyzstan!</h2>
<form th:action="@{/registration}" method="post">
    <input type="text" name="personalId" placeholder="PersonalId">
    <input type="password" name="password" placeholder="Password">
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}">
    -->
    <div th:if="${message}">
        <span th:text="${message}"></span>
        <a href="/login">log in</a>
    </div>
    <input type="submit" value="Register">
</form>
</body>
</html>