<header class="d-flex" th:fragment="header"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header__left d-flex">
        <a href="/">
            <img src="/images/svg/logo.svg" alt="logo" />
        </a>
        <div class="d-flex">
            <a href="https://t.me/kyrgyzpolyclinicbot">Нужна помощь?</a>
            <a href="https://t.me/kyrgyzpolyclinicbot">Онлайн консультация</a>
        </div>
    </div>
    <div class="header__right d-flex">
        <a href="/">Главная</a>
        <a href="/polyclinics">Поликлиники</a>
        <a href="/services">Услуги</a>
        <a sec:authorize="hasAuthority('ADMIN')" href="/admin">Админ Панель</a>
        <a sec:authorize="hasAuthority('USER')" th:href="'/user/' + ${currentUser.id}">Личный кабинет</a>
<!--        <a sec:authorize="hasAuthority('RECEPTIONIST')" href="/reception">Личный кабинет</a>-->
<!--        <a sec:authorize="hasAuthority('STAFF')" href="/staff">Личный кабинет</a>-->
        <span sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input class="logout" type="submit" value="Выйти"/>
            </form>
        </span>
        <span sec:authorize="!isAuthenticated()">
            <a class="logout" href="/login">Вход</a>
        </span>
    </div>
</header>