<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title>Admin</title>
</head>
<body>
<form th:object="${region}" action="/city/add" method="post" enctype="multipart/form-data">
    <span>Выберите регион: </span>
    <select name="select" size="1">
        <option disabled selected value="">--</option>
        <div th:each="region : ${region}">
            <option th:value="${region.id}" th:text="${region.name}"></option>
        </div>
    </select>
    <input type="text" name="capital" class="popup__input" placeholder="Name"><br>
    <button type="submit" class="popup__btn">Добавить</button>
</form>
Вот добавленные города
<div th:each="city : ${city}">
    Город: <span th:text="${city.capital}"></span> в регионе: <span th:text="${city.region.name}"></span><br>
</div>
<br><br><br>
<hr size="10px">
<div>
    <h4>Добавить поликлинку</h4>
    <form th:object="${city}" action="/polyclinic/add" method="post" enctype="multipart/form-data">
        <span>Выберите регион: </span>
        <span>Выберите город: </span>
        <select name="select" size="1">
            <option disabled selected value="">--</option>
            <div th:each="city : ${city}">
                <option th:value="${city.id}" th:text="${city.capital}"></option>
            </div>
        </select>
        <br>
        <input  type="text" name="name" class="popup__input" placeholder="Название поликлиники"><br>
        <input type="text" name="year" class="popup__input" placeholder="Год открытия"><br>
        <input type="text" name="phone" class="popup__input" placeholder="Телефон"><br>
        <input type="text" name="address" class="popup__input" placeholder="Адрес"><br>
        <input type="text" name="graphic" class="popup__input" placeholder="График работы"><br>
        <button type="submit" class="popup__btn">Добавить</button>
    </form>
<br><br><br>
    Добавленные поликлиники
    <div th:each="pol : ${pol}">
        <hr>
        Поликлиника: <p th:text="${pol.name}"></p>
        <p th:text="${pol.address}"></p>
        <p th:text="${pol.year}"></p>
        <p th:text="${pol.phone}"></p>
        <p th:text="${pol.graphic}"></p>
        Область: <p th:text="${pol.city.region.name}"></p>
        Город: <p th:text="${pol.city.capital}"></p>
        <a th:href="'/polyclinics/' + ${pol.id} + '/update'">Изменить</a>
        <form th:action="'/polyclinics/'+${pol.id} + '/delete'" method="post">
            <input type="submit" value="Удалить"/>
        </form>
        <br><hr>
    </div>
</div>
<section>
    <h3>Пользователи: </h3>
    <div th:each="user : ${users}">
        <p th:text="${user.personalId}"></p>
    </div>
</section>

<section>
    <form th:action="@{/citizen}" method="post">
        <input type="text" name="personalId" placeholder="PersonalId">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <select name="selectGender" size="1">
            <option value="" disabled selected>Выберите пол</option>
            <option value="Man">М</option>
            <option value="Woman">Ж</option>
        </select>
        <input type="submit" value="Добавить">
    </form>
</section>
<section>
    <h3>Добавить Услуги</h3>
    <form th:action="@{/services}" method="post">
        <input type="text" name="title" placeholder="Название раздела">
        <input type="submit" value="Добавить">
    </form>
    <div th:each="service : ${services}">
        <p th:text="${service.title}"></p>
        <a th:href="'/services/' + ${service.id} + '/update'">Изменить</a>
        <form th:action="'/services/'+${service.id} + '/delete'" method="post">
            <input type="submit" value="Удалить"/>
        </form>
    </div>
</section>
<br><br><br><br><br>
</body>
</html>